* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-container {
    width: 25vw;
    height: 50vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    margin-top: 10px;


}

button,
input {
    border-style: none;

}

input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 1px solid #555;
  }

#bookBtn {
    width: 200px;
    margin: 20px;
}

form {
    display: none;
    
}

#books {
    display: flex;
}

.book-cards {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 100px;
    height: 150px;    
    
}

.card-body,
.card-header {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
